* {
    padding: 0;
    margin: 0;
}

body {
    margin: 3vw;
    background-color: rgba(63, 60, 60, 0.1);
    color: rgba(0, 0, 0, 0.856);
}

.codes {
    grid-gap: 5vw;
    columns: 3;
}

.codes .box-code {
    width: 100%;
}

.codes .box-code pre {
    margin: 2.5vw;
    display: inline-block;
    width: 100%;
    padding: 2vw;
    border-radius: 5px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
}

@media only screen and (max-width: 720px) {
    .codes {
        columns: 1;
    }
}
