* {
    padding: 0;
    margin: 0;
}

body {
    margin: 3vw;
}

.codes {
    margin: auto;
    columns: 3;
    width: 100%;
}

.codes .box-code {
    width: 100%;
}

.codes .box-code pre {
    display: inline-block;
    margin: auto;
    width: 100%;
    padding: .3vw;
    border: 2px solid black;
    border-radius: 15px;
    overflow: auto;
}

@media only screen and (max-width: 720px) {
    .codes {
        columns: 1;
    }
}